doctype html
html
 head
 title MyFirstProject
 link(rel="stylesheet" href='/bower_components/bootstrap/dist/css/bootstrap.css')
 link(rel="stylesheet" href="/css/style.css")



 body
 .container
 block content
 br
 footer 
   p CopyRighted &copy; 2021

